@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&family=Lato:wght@400;700&family=Roboto:wght@300&display=swap');
*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Inter', sans-serif;
}


html{
    scroll-behavior: smooth;
}

nav{
    height:80px;
    display:flex;
    
}

a{
    text-decoration:none;
}

.row{
    width:100%;
    max-width: 1200px;
    margin: 0 auto;
}



/* NAVIGATION */

.nav__container{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-top:24px;
}

.nav__links{
    display:flex;
    list-style-type:none;
    font-weight: 500;
    font-size: 0.875rem;
    color:black;
}

.nav__link{
    padding-right:24px;
}

ul li:nth-child(5){
    padding-left:24px;
}

.logo{
    width:2.5rem;
   
}

.nav__logo-title--wrapper{
    display:flex;
    align-items: center;
    
}

.text--hoverpurple{
    margin-left:8px;
    font-weight:bold;
    font-size:24px;
    color:rgba(36,62,99);
}

.text--hoverpurple:hover{
    color:rgba(36,62,99);
}

