@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700;900&family=Lato:wght@400;700&family=Roboto:wght@300&display=swap');
*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Inter', sans-serif;
}


html{
    scroll-behavior: smooth;
}

nav{
    height:80px;
    display:flex;
    
}

a{
    text-decoration:none;
}

.row{
    width:100%;
    max-width: 1280px;
    margin: 0 auto;
}

.text--purple{
    color: rgba(100,21,255)
}



/* NAVIGATION */

.nav__container{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-top:24px;
    
}

.nav__links{
    display:flex;
    align-items: center;
    list-style-type:none;
    font-weight: 500;
    font-size: 0.875rem;
    margin-top:24px;
}

.nav__link{
    padding-right:24px;
    color:black;
    letter-spacing: 0.025em;
    margin: 0px 12px;
    font-weight: 300;
}

ul li:nth-child(5){
    padding-left:24px;
    
}

.logo{
    width:2.5rem;
   
}

.nav__logo-title--wrapper{
    display:flex;
    align-items: center;
    
}

.text--hoverpurple{
    margin-left:8px;
    font-weight:900;
    font-size:24px;
    color:rgba(36,62,99);
}

.text--hoverpurple:hover{
    transition: all 300ms ease;
    color: rgba(100,21,255)
}

.btn{
    background-color:rgba(100,21,255);
    border:none;
    padding:12px 36px;
    border-radius:9999px;
    color:white;
}

.btn:hover{
    background-color:rgb(68, 15, 167);
    transition: all 500ms ease;
}

/* LANDING PAGE */

.landing__container{
    padding-top:6rem;
    padding-bottom:6rem;
    display: flex;
    width:100%;
}

.landing__info--header,
.landing__info--para,
.landing__info--logos{
    height:25%;
}

.landing__info{
    display: flex;
    flex-direction: column;
    width:40%;
    
}

.landing__info--header{
    text-align: left;
    font-size: 48px;
    margin-bottom:24px;
    
    
}

.landing__info--para{
    font-size: 16px;
    font-weight:lighter;
}

.landing__info--input{
    border:2px solid lightgray;
    display: flex;
    justify-content: space-between;
    border-radius:999px;
    padding-left:24px;
    padding-right:6px;
    padding-top:6px;
    padding-bottom:6px;
    
}

input {
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
    outline: 0px solid transparent;
    font-size:18px;
    letter-spacing: 1.5px;
  }

.btn__input{
    font-weight:bold;
    font-size:large;
}

.landing__info--logos{
    width:100%;
    margin-top:32px;
    display:flex;
    flex-direction: column;
    justify-content: end;
}

.landing__info--logo-text{
    color:lightgray;
    font-weight: bold;
    font-size: 14px;
}

.landing__info--logo{
    margin-top:24px;
    
}

.landing__info--imgs{
    display:flex;
    justify-content:end;
    max-width:60%
}

.landing__info--img{
    margin-left:24px;
    width:100%;
    height:100%;
}